#hello {
    color: red;
}
#app-navigation *, #app-settings *{
    width:2px;
    z-index:-10;
}
#app-navigation, #app-settings{
    width:2px;
}

#app *{
    box-sizing: border-box;
}

#map *{
    box-sizing: content-box;
}
#gpxlist td{
    word-wrap: break-word;
    white-space: normal;
}
#gpxlist a{
    color: blue;
    text-decoration: underline;
}
/* jquery dialog */
.ui-dialog{
    z-index: 2001 !important ;
}
